@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
  color-scheme: dark;
}


@keyframes float {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);

  }

}


.float-animation {
  animation: float 3s ease-in-out infinite;
}

/* Define the blinking cursor */
.typing-text::after {
  content: '|';
  animation: blink 1s infinite alternate;
}

/* Define the typing animation */
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

/* Apply the typing animation to the span */
.typing-text span {
  display: inline-block;
  overflow: hidden;
  border-right: 2px solid white;
  /* To simulate the cursor */
  white-space: nowrap;
  /* Prevent wrapping */
  animation: typing 2s steps(20, end) infinite;
}

/* Define the blinking cursor animation */
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}